/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Mulish', sans-serif;
    background-color: #e6e6e6;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 32px;
}
.container-no-padding {
    max-width: 1320px;
    margin: 0 auto;
}

/* Flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.align-start {
    align-items: flex-start;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
/* General */
a {
    text-decoration: none;
}
.padding {
    padding: 50px; 
}
/* Heading */
.heading-main {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}
.heading-intro {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
}
.heading-blog {
    font-size: 32px;
    margin-bottom: 10px;
    background-color: #69c6ba;
    font-weight: 700;
}
.heading-card {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.heading-location {
    color: #c66995;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Button */
.btn {
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.btn-primary {
    background-color: #69c6ba;
    color: #fff;
}
.btn-secondary {
    background-color: #fff;
    color: #69c6ba;
}
/* Header */
header {
    background-color: #fff;
}
.header {
    padding: 20px 120px;
}
.logo {
    vertical-align: bottom;
}
.brand-name {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}
.header-navigation li {
    margin-left: 100px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
header a {
    color:#000;
}
.header-navigation a:hover {
    color: #74c9bf;
}

/* Hero  Section */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../block-BHaacj/assets/banner.jpg") no-repeat;
    background-size: cover;
    padding: 120px 0px;
}
.color-white {
    color: #fff;
}
.hero-para {
    font-size: 24px;
    margin-bottom: 20px;
}
.down-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #69c6ba;
}
/* Hero Section Form */
.booking{
    background-color: #fff;
    width:60%;
    margin: 80px auto 0px auto;
    padding: 20px;
}
.group-destination, .group-drop-down, .group-date{
    width: 50%;
    padding: 20px;
}
.form-btn {
    width: calc(50% - 40px);
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: 15px;
}
.col-1-3 {
    width: 24%;
}
.col-1-2 {
    width: 48%;
}
.subgroup-rooms {
    width: 49%;
}
.booking input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}
.booking label {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px;
}
/* Intro Section */
.intro {
    background-color: #efefef;
}
.intro-text {
    margin: 20px 200px;
    text-align: center;
    color: #6a6c6e;
}
.title {
    font-weight: 800;
}
/* Gallery Section */
.gallery-background {
    background-color: #fff;
    padding: 0px;
}
.blog-img, .blog {
    width: 50%;
}
.blog {
    padding: 40px;
    color: #fff;
}
.blog-1, .blog-3 {
    background-color: #69c6ba;
    position: relative;
    left: -36px;
}
.blog-2 {
    background-color: #c66995;
    position: relative;
    right: -36px;
}
.blog-2 .heading-blog {
    background-color: #c66995;
}
.blog-2 .btn {
    color: #c66995;
}
.btn-blog {
    display: inline-block;
}
.blog-text {
    margin-bottom: 10px;
}
.left-arrow, .right-arrow {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    justify-content: center;
    margin-right: 5px;
    
}
.position-relative {
    position: relative;
}
.arrows {
     position: absolute;
     left: 520px; 
}
.blog-2-arrows {
    position: absolute;
    right: 514px;
}
/* Map Section */
.map-background {
    background-color: #69c6ba;
}
.map-group {
    padding: 34px;
}
.caption {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.asia-background {
    background-color: #c66995;
}
/* Destination Section */
.destination {
    text-align: center;
}
.destination-background {
    background-color: #fff;
}
.card-body {
    padding: 26px 24px 26px 24px;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
   
}
.card-text {
    text-align: left;
}
.card {
    position: relative;
    margin: 20px 100px;
}
.btn-curve {
    position: absolute;
    right: 196px;
}
.card-button {
    display: block;
    background-color: #69c6ba;
    color: white;
    width: 40%;
    padding: 50px 0;
    text-align: center;
}
.rate {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 14px;
}
.continue-reading {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-destination {
    display: inline-block;
}

/* Google Map Section */
.google-map-map {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../media/google-map.png");   
    padding-top: 10px; 
    padding-bottom: 10px;
    position: relative;
}
.contact {
    margin: 50px 0px 50px 60%; 
    width: 80%;
}
.contact-form {
    background-color: #fff;
    padding: 20px;
    width: 40%;
}
.form-name, .form-email, .form-subject, .form-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
} 
.form-name, .form-email {
    width: 48%;
    
}
.form-name {
    margin-right: 2.5%;
}
.form-subject, .form-message{
    width: 100%;
}
.send-message {
    width: 100%;
}

.plus, .minus , .expand, .magnify{
    background-color: #fff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-weight: 900;
}
.magnify {    
    width: 50px;
    height: 80px;
    flex-direction: column;
    margin-left: 98%;
}
.plus {
    border-bottom: 1px solid #e6e6e6;
}
.expand {
    margin-left: 99%;
    font-size: 20px;
}
.plus, .minus {
    font-size: 28px;
    font-weight: 900;
}

/* Footer */
footer {
    background-color: #69c6ba;
    text-align: center;
}
.copyright {
    font-size: 14px;
    color: #fff;
}
