/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    background-image: url(../block-BHaaci/assets/bg-intro-desktop.png);
    background-color: rgb(255,121,120);
}
.container{
    max-width: 1300px;
    padding: 0 32px;
    margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.flex1{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.Signup-page{
	margin-top: 50px;
	text-align: center;
	height: 650px;
}
.side-heading{
	width: 35%;
}

p{
	color: rgb(206,188,188);
}
.side-para{
	margin-top: 20px;
	color: rgb(253,229,225)
}
h1{
	font-size: 67px;
	color: white;
}
.right-side{
	width: 35%;
}
.form-heading{
	
	background-color: rgb(93,84,163);
	color: white;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
}

span{
	color: rgb(215,209,238);
}
form {
	max-width: 700px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    padding: 19px;
	border-radius: 8px;
	box-shadow: #F4F7F8;
	margin-top: 24px;
}
.form-control{
    display: block;
    width: 95%;
    background-color: #ffffff;
    padding: 8px;
    outline: 0;
    color: #626768;
    margin-bottom: 24px;
}
.form-control1{
    display: block;
    width: 95%;
    background-color: #ffffff;
    padding: 8px;
    
    color: #626768;
    margin-bottom: 24px;
}
input[type="text"] {
	border-color: rgb(192,187,202)
}
input[type="email"] {
	border-color: rgb(242,242,242);
}
input[type="password"] {
	border-color: rgb(242,242,242);
}
.form-contol1 ::placeholder{
	color: black;
}
button{
    background-color: #5ecf80;
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 6px;
    color: white;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.terms{
	color: rgb(218,216,224);
}
.para1{
	font-size: 15px;
	text-align: center;

}
.para1 p{
	text-align: center;
}
.span1{
	color: rgb(240,173,169);
}